.custom-black{
    color: #1B2437;
}

.custom-grey{
    color: #D1D1D6;
}

.custom-grey2{
    color: #C7C7CC
}

.custom-white{
    color: #FFFFFF
}

.custom-pink{
    color: #EDA3B5
}

.custom-border-white{
    color: #EFEFF4
}

