@import url("https://cdn.syncfusion.com/ej2/material.css");

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F3F3;
}
.containerAPP{
  position: relative;
  margin: 0; /*margin kiri dan kanan auto menandakan posisi center ditengah*/
  max-width: '100%';
}

